@import url("https://fonts.googleapis.com/css?family=Allura|Fredoka+One|Hind+Vadodara");
* {
  margin: 0;
  padding: 0; }

body {
  background: #f7f8f9 !important;
  font-family: 'Hind Vadodara', sans-serif; }

.btn {
  border: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important; }

.btn-primary {
  background: #2196f3 !important; }

.form-control {
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important; }

#header {
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 0;
  right: 0; }
  #header .logo a {
    color: #ffffff;
    text-decoration: none; }
    #header .logo a h1 {
      padding: 15px 0px;
      font-family: 'Fredoka One', cursive; }
  #header .navbar-nav .nav-link {
    color: #ffffff; }

.banner {
  background: url(../images/bin.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 550px;
  text-align: center;
  padding: 50px; }
  .banner .banner-txt {
    position: absolute;
    top: 200px;
    left: 0px;
    right: 0px;
    color: #ffffff; }
    .banner .banner-txt h2 {
      font-family: 'Hind Vadodara', sans-serif; }
    .banner .banner-txt p {
      font-family: 'Allura', cursive; }

.search {
  margin-bottom: 150px; }
  .search .search-opt {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -120px;
    padding: 0px; }
    .search .search-opt .form-group {
      padding: 5px 5px; }
    .search .search-opt .nav-tabs .nav-link {
      background: rgba(33, 150, 243, 0.5);
      -webkit-border-radius: 0px;
      border-radius: 0px;
      border: 0px;
      padding: 12px 30px;
      color: #ffffff; }
      .search .search-opt .nav-tabs .nav-link:hover {
        background: rgba(33, 150, 243, 0.75); }
      .search .search-opt .nav-tabs .nav-link.active {
        background: rgba(33, 150, 243, 0.95); }
    .search .search-opt .tab-content {
      background: #ffffff;
      padding: 20px  40px;
      -webkit-box-shadow: 0px -1px 30px -10px #000000;
      box-shadow: 0px -1px 30px -10px #000000; }

#footer {
  background: #111111; }
